#achievements {
    padding: 80px 10%;
    background-color: #1a1a1a;
    color: white;
}

#achievements h2 {
    font-size: 2rem;
    color: #f39c12;
    margin-bottom: 1rem;
}

#achievements ul {
    padding-left: 1.5rem;
    list-style: square;
}

#achievements li {
    margin-bottom: 10px;
}
